rules_version = '2';

// *************************
// {email}                  - the value in the path that is trying to be accessed
// request.auth.token.email - authentication token of the person trying to access the data



service cloud.firestore {
  match /databases/{database}/documents {

    function loggedInAndMine(email) {
      return request.auth.token != null && request.auth.token.email == email
    }

    function canViewIdeasGranted(email) {
      return request.auth.token.email in get(/databases/$(database)/documents/users/$(email)).data.canView
    }

    match /users/{email}/ideas/{document=**} {
      allow read, write: if loggedInAndMine(email);
      allow read: if canViewIdeasGranted(email)
    }

    match /users/{email}/{document=**} {
      allow read, write: if loggedInAndMine(email);
    }
  }

}
